<div class='container'>
  <div class='col-12 text-center'>
    <h1 class='m-3'>The coach says:</h1>
    <h2><%= @ans %></h2>
    <%= link_to 'Ask another question', '/ask', class:'btn btn-primary'%>
  </div>
</div>
